# Local Netlify
.netlify

# Models (OK)
apps/server/tts/*.onnx

# Env
.env
apps/server/.env.local
apps/web/.env.local
.env.enc

# IDE
.vscode/
.vs/

# Build
apps/web/dist/

# Logs
*.log
logs/

# Temp
*.tmp
*.bak
*.swp

# OS
.DS_Store
Thumbs.db