# Ignore tout ce qui n'est pas utile côté repo
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
out/
tmp/
*.tar.gz
*.zip
*.exe
onnxruntime*.dll
onnxruntime*.so
onnxruntime*.dylib
ngrok*
model.onnx
*.onnx
*.onnx.json
libespeak-ng*
libpiper_phonemize*
libonnxruntime*
libtashekel*
pkgconfig/
espeak-ng*
espeak-ng-data/
*.ort
*.gif
*.js
*.md
*.json
*.txt
*.bat
*.cmd
*.ps1
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
venv/
env/
.env
########################################
.idea/
node_modules/
